## 문자열 주요 함수
### 문자열 합치기 
문자열과 문자열을 더하면 이어 붙인 새로운 문자열이 생성됩니다.

In [1]:
year = "2022"
month = "06"
day = "21"
date = year + "-" + month + "-" + day
print(date)

2022-06-21

### 문자열 반복
문자열 곱셈은 문자열을 반복합니다.

In [2]:
lang = "python"
lang * 3

'pythonpythonpython'

In [3]:
print("-" * 20)

--------------------

### 대문자와 소문자
`upper`메서드는 대문자로, `lower`메서드는 소문자로 변환합니다.

In [4]:
lang = "python3"
lang.upper()

'PYTHON3'

In [5]:
lang = "PYTHON3"
lang.lower()

'python3'

### 문자열 분리
`split` 메서드는 구분자를 기준으로 문자열을 분할합니다.

In [6]:
date = "2022-06-21"
date.split('-')

['2022', '06', '21']

### 문자열 변경
문자열의 일부는 변경할 수 없습니다.

In [7]:
lang = "Python3"
lang[6] = '4'

TypeError: 'str' object does not support item assignment

기존 문자열은 그대로 두고 새로운 문자열을 생성할 수 있습니다.

In [8]:
lang = "Python3"
lang2 = lang.replace('3', '4')
lang2

'Python4'

In [9]:
lang = "Python3"
lang2 = lang[:6] + '4'
lang2

'Python4'

문자열에서 일부를 제거할 때 `replace` 메서드를 사용할 수 있습니다. 이는 새로운 문자열을 반환합니다.

In [10]:
price = "1,000,000"
price = price.replace(",", "")
print(price)

1000000

### 문자열의 길이와 공백 제거

In [12]:
date = "2022-06-21"
print(len(date))

10

In [13]:
lang = " Python3. "
lang = lang.strip()

### 연습문제
a라는 변수가 `hello world`라는 문자열을 바인딩하고 있을 때 a의 값을 `hi world`로 변경해보세요.

In [14]:
a = "hello world"
a = a.replace('hello', 'hi')
a

'hi world'

`" 2022/06/21 "`에서 공백을 제거하고 `'/'`를 `'-'`로 변경하여 `"2022-06-21"`로 변경해보세요.

In [15]:
date = " 2022/06/21 "
date = date.strip()
date = date.replace('/', '-')
date

'2022-06-21'

In [16]:
date = " 2022/06/21 "
date = date.strip().replace('/', '-')
date

'2022-06-21'