## 타입 변환
### 타입 변환
파이썬은 서로 다른 타입 간의 변환을 지원합니다. 단, 타입 변환이 가능할 때 만요!

In [1]:
year = "2022"
year + 1 # 에러

TypeError: can only concatenate str (not "int") to str

아래는 숫자로 변환 가능한 데이터로 구성돼 정상 변환됩니다.

In [2]:
year = "2022"
year2 = int(year)

콤마는 숫자로 바꿀 수 없어서 에러입니다.

In [ ]:
money = "1,000,000"
int(money)

콤마를 제거하고 변환할 수 있습니다.

In [10]:
money = "1,000,000"
money2 = money.replace(',', '') # "1,000,000" -> "1000000"
int(money2)

1000000

숫자를 문자로 변환할 수도 있습니다.

In [9]:
year = 2022
date = str(year) + "-06-19"
print(date)

2022-06-19

정수와 실수 변환도 가능합니다.

In [7]:
num = 10
num2 = float(num)
print(num2, type(num2))

10.0 <class 'float'>

In [8]:
num = 10.5
int(num)

10